/* フォント設定 */
@font-face {
  font-family: "Sawarabi_Gothic";
  font-weight: 400;
  src: url(./fonts/SawarabiGothic-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Oxanium";
  font-weight: 400;
  src: url(./fonts/Oxanium-Regular.ttf) format("truetype");
}

/* 本体部分 */
html {
  background-color: #f8f8f8;
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family: "Sawarabi_Gothic", "ヒラギノ角ゴシック", "メイリオ", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

input,
button {
  font-family: "Sawarabi_Gothic", "ヒラギノ角ゴシック", "メイリオ", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 0 0.5em;
}

.submit {
  margin: 1rem 0;
}

.modal {
  display: none; /* デフォルトで非表示にする */
}
